In [1]:
#load libraries
import pandas as pd
import numpy as np
from sklearn.externals.six import StringIO
from sklearn import tree #import decision tree classifier
from sklearn.model_selection import train_test_split #import train_test_split
from sklearn import metrics #import scikit-learn metrics module for accuracy calculation
import matplotlib.pyplot as plt

input_file="C:/Users/TUKAI/Desktop/Position_Salaries.csv"
dataset=pd.read_csv(input_file, header=0)
dataset.head()

   Experience Employed  PrevEmployer LevelEdu School Interned Hired
0          12        Y             1       BS      Y        Y     Y
1          13        N             0       MS      N        N     N
2          14        Y             3       BS      Y        Y     Y
3          15        N             0       MS      N        N     N
4          16        Y             5       BS      Y        Y     Y

In [2]:
d={'Y':1, 'N':0}
dataset['Hired']= dataset['Hired'].map(d)
dataset['Employed']= dataset['Employed'].map(d)
dataset['School']= dataset['School'].map(d)
dataset['Interned']= dataset['Interned'].map(d)

d={'BS':0, 'MS':1}

dataset['LevelEdu']= dataset['LevelEdu'].map(d)
#dataset['Hired']= dataset['Hired'].map(d)

dataset.head()

   Experience  Employed  PrevEmployer  LevelEdu  School  Interned  Hired
0          12         1             1         0       1         1      1
1          13         0             0         1       0         0      0
2          14         1             3         0       1         1      1
3          15         0             0         1       0         0      0
4          16         1             5         0       1         1      1

In [3]:
feature = list(dataset.columns[:7])

feature

['Experience',
 'Employed',
 'PrevEmployer',
 'LevelEdu',
 'School',
 'Interned',
 'Hired']

In [4]:
from sklearn.tree import DecisionTreeClassifier
y=dataset['Hired']

X=dataset[feature]

clf=tree.DecisionTreeClassifier()
clf.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [5]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn import tree
import pydotplus

from sklearn.tree import DecisionTreeClassifier

clf=tree.DecisionTreeClassifier()
clf.fit(X,y)
dot_data=StringIO()
tree.export_graphviz(clf,out_file=dot_data, feature_names=feature)

graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('employee_hired.png')
Image=(graph.create_png())